body {
  font-family: Arial, sans-serif;
  background: #964B00;
  margin: 0;
}

/* shared */
.page {
  display: none;
}

/* card pages */
.card {
  background: white;
  width: 320px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 8px;
  text-align: center;
}

/* full home page */
.full {
  display: none;
  background: #f4f4f4;
  min-height: 100vh;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5d2e00;
  color: white;
  padding: 15px;
}

input, select, button {
  width: 80%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #5d2e00;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #3d1f00;
}

.trust-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: 20px auto;
}

.reviews {
  max-width: 800px;
  margin: 30px auto;
}

.review {
  background: white;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.review.good {
  border-left: 5px solid green;
}

.review.bad {
  border-left: 5px solid red;
}

a {
  color: blue;
  cursor: pointer;
}
#additionalReview textarea {
  width: 100%;
  height: 90px;
  padding: 10px;
  margin-top: 10px;
  resize: none;
}
